
<h2>Example: Moving</h2>
<p>
Create two places to re ...
</p>

<h2>Example: Kids, pets, and renters</h2>
<p>as with housemates,
create person and place fields
then refer to specific persons and places in service events</p>

<h2>Example: Housemates</h2>
<p>create person field for household,
and separate places as necessary
then refer as needed
to specific persons or places in proposed service events</p>

<h2>Example: Commercial organization</h2>
<p>essentially the same
but in this case person records may include company and group
and places may be used to indicate facilities</p>
