label(id='hidden-ref' hidden) #{ref}
label(for='inspect-section-label') #{inspect_section}
br
table(class='account')
  tbody
    tr
      th
        label(id='created-label') #{created_label}
      th
        label(id='created-value') #{created_value}
    tr
      th
        label(id='viewed-label') #{viewed_label}
      th
        label(id='viewed-value') #{viewed_value}
    tr
      th
        label(id='modified-label') #{modified_label}
      th
        label(id='modified-value') #{modified_value}
table(class='account')
  tbody
    tr
      th        
        label(id='roles-label') #{roles_label}
      th
        label(id='roles-value') #{roles_value}
    tr
      th
        label(id='status-label') #{status_label}
      th
        label(id='status-value') #{status_value}
table(class='account')
  caption #{attributes_label}
  thead
    tr
      th
        label(id='type-label') #{type_label}
      th
        label(id='new-type-label') #{new_type_label}
      th
        label(id='value-label') #{value_label}
      th
        label(id='new-value-label') #{new_value_label}
      th
        label(id='qualifier-label') #{qualifier_label}
      th
        label(id='new-qualifier-label') #{new_qualifier_label}
      th
        label(id='delete-label') #{delete_text}
  tbody
    each attr in attrs
      tr
        th
          label(id=attr.typeIn) #{attr.type}
        td
          input(id=attr.typeOut type='text')
        th
          label(id=attr.valueIn) #{attr.value}
        td
          input(id=attr.valueOut type='text')
        th
          label(id=attr.qualIn) #{attr.qualifier}
        td
          input(id=attr.qualOut type='text')
        td
          button(id=attr.delId) #{delete_text}
        script.
          $('##{attr.delId}').on('click', function() {
            var hiddenRef = document.getElementById('hidden-ref');
            var typeLabel = document.getElementById('#{attr.typeIn}');
            var typeText = typeLabel.textContent;
            var valueLabel = document.getElementById('#{attr.valueIn}');
            var valueText = valueLabel.textContent;
            var qualifierLabel = document.getElementById('#{attr.qualIn}');
            var qualifierText = qualifierLabel.textContent;
            socket.emit('attribute-delete', {
                account: hiddenRef.textContent,
                type: typeText,
                value: valueText,
                qualifier: qualifierText,
                redisplay: 'inspect-redisplay'
            });
            $('#options-panel').load('/account/inspect');
          });
          $('##{attr.typeOut}').on('keydown', function(event) {
            if (event.key === 'Enter') {
              var hiddenRef = document.getElementById('hidden-ref');
              var typeLabel = document.getElementById('#{attr.typeIn}');
              var typeText = typeLabel.textContent;
              var valueLabel = document.getElementById('#{attr.valueIn}');
              var valueText = valueLabel.textContent;
              var qualifierLabel = document.getElementById('#{attr.qualIn}');
              var qualifierText = qualifierLabel.textContent;
              socket.emit('attribute-modify', {
                account: hiddenRef.textContent,
                type: typeText,
                value: valueText,
                qualifier: qualifierText,
                newtype: $('##{attr.typeOut}').val(),
                redisplay: 'inspect-redisplay'
              });
              $('#options-panel').load('/account/inspect');
            }
          });
          $('##{attr.valueOut}').on('keydown', function(event) {
            if (event.key === 'Enter') {
              var hiddenRef = document.getElementById('hidden-ref');
              var typeLabel = document.getElementById('#{attr.typeIn}');
              var typeText = typeLabel.textContent;
              var valueLabel = document.getElementById('#{attr.valueIn}');
              var valueText = valueLabel.textContent;
              var qualifierLabel = document.getElementById('#{attr.qualIn}');
              var qualifierText = qualifierLabel.textContent;
              socket.emit('attribute-modify', {
                account: hiddenRef.textContent,
                type: typeText,
                value: valueText,
                qualifier: qualifierText,
                newvalue: $('##{attr.valueOut}').val(),
                redisplay: 'inspect-redisplay'
              });
              $('#options-panel').load('/account/inspect');
            }
          });
          $('##{attr.qualOut}').on('keydown', function(event) {
            if (event.key === 'Enter') {
              var hiddenRef = document.getElementById('hidden-ref');
              var typeLabel = document.getElementById('#{attr.typeIn}');
              var typeText = typeLabel.textContent;
              var valueLabel = document.getElementById('#{attr.valueIn}');
              var valueText = valueLabel.textContent;
              var qualifierLabel = document.getElementById('#{attr.qualIn}');
              var qualifierText = qualifierLabel.textContent;
              socket.emit('attribute-modify', {
                account: hiddenRef.textContent,
                type: typeText,
                value: valueText,
                qualifier: qualifierText,
                newqualifier: $('##{attr.qualOut}').val(),
                redisplay: 'inspect-redisplay'
              });
              $('#options-panel').load('/account/inspect');
            }
          });
table(class='account')
  caption #{new_attribute}
  tbody
    tr
      th
        label(id='new-type-label') #{new_type_label}
      td
        input(id='type-input' type='text') 
      th
        label(id='new-value-label') #{new_value_label}
      td
        input(id='value-input' type='text') 
      th
        label(id='new-qualifier-label') #{new_qualifier_label}
      td
        input(id='qualifier-input' type='text') 
      td
        button(id='add-attribute') #{new_attribute}
      script.
        $('#add-attribute').on('click', function() {
          var hiddenRef = document.getElementById('hidden-ref');
          socket.emit('attribute-add', {
            account: hiddenRef.textContent,
            type: $('#type-input').val(),
            value: $('#value-input').val(),
            qualifier: $('#qualifier-input').val(),
            redisplay: 'inspect-redisplay'
          });
        });
button(id='explain') #{explain_label}
button(id='close-request') #{close}
script.
  $('#close-request').on('click', function() {
    $('#options-panel').hide();
  });
  
