label(for='personas-section') #{personas_section}
label(id='persona-selector-label') #{persona_selector_label}
select(id='persona-selector')
  each persona in personas
    option(value=persona.selector selected=persona.selected) #{persona.text}
    
br
script.
  $('#persona-selector').on('change', function() {
    var personaSelectorElement = document.getElementById('persona-selector');
    $('#options-panel').load('/account/personas/' + personaSelectorElement.selectedIndex);
  });

label(id='name_label') #{name_label}
br
each name in names
  label(id=name.tout) #{name.text} 
  label(id=name.qout) #{name.qualifier} 
  input(id=name.toggle type='checkbox' checked=name.checked)
  br
  script.
    $('##{name.toggle}').on('click', function() {
      var nameToggle = document.getElementById('#{name.toggle}');
      socket.emit('name-toggle', {
          text: '#{name.text}',
          qualifier: '#{name.qualifier}',
          checked: nameToggle.checked
       });
    });
br

label(id='contact_label') #{contact_label}
each contact in contacts
  label(id=contact.tout) #{contact.text} 
  label(id=contact.qout) #{contact.qualifier} 
  input(id=contact.toggle type='checkbox') 
  br
  script.
    $('##{contact.toggle}').on('click', function() {
      var contactToggle = document.getElementById('#{contact.toggle}');
      socket.emit('contact-toggle', {
          text: '#{contact.text}',
          qualifier: '#{contact.qualifier}',
          checked: contactToggle.checked
      });
    });
br

label(id='address_label') #{address_label}
each address in addresses
  label(id=address.tout) #{address.text} 
  label(id=address.qout) #{address.qualifier} 
  input(id=address.toggle type='checkbox') 
  br
  script.
    $('##{address.toggle}').on('click', function() {
      var addressToggle = document.getElementById('#{address.toggle}');
      socket.emit('address-toggle', {
          text: '#{address.text}',
          qualifier: '#{address.qualifier}',
          checked: addressToggle.checked
      });
    });
br

label(id='pronoun_label') #{pronoun_label}
each pronoun in pronouns
  label(id=pronoun.tout) #{pronoun.text} 
  label(id=pronoun.qout) #{pronoun.qualifier} 
  input(id=pronoun.toggle type='checkbox') 
  br
  script.
    $('##{pronoun.toggle}').on('click', function() {
      var pronounToggle = document.getElementById('#{pronoun.toggle}');
      socket.emit('pronoun-toggle', {
          text: '#{pronoun.text}',
          qualifier: '#{pronoun.qualifier}',
          checked: pronounToggle.checked
      });
    });
br
  
br
input(id='persona-input' type='text')
button(id='persona-new') #{new_persona}
button(id='persona-rename') #{rename_persona}
button(id='persona-delete') #{delete_label}
button(id='close-panel') #{close}
script.
  $('#persona-delete').on('click', function() {
    socket.emit('persona-delete');
  });
  $('#persona-new').on('click', function() {
    socket.emit('persona-new', {
      new_name: $('#persona-input').val()
    });
    $('#options-panel').load('/account/personas');
  });
  $('#persona-rename').on('click', function() {
    socket.emit('persona-rename', {
      new_name: $('#persona-input').val()
    });
  });
  $('#close-panel').on('click', function() {
    $('#options-panel').hide();
  });
