label(id='account-ref' hidden) #{account}
label(id='challenge-label' for='response-text') #{challenge_label}
label(id='challenge-value' for='response-text') #{challenge_value}
label(id='response-label' for='response-text') #{response_label}
input(id='response-text' type='text')
button(id='submit-response') #{submit_response}
button(id='close-challenge') #{close_text}
script.
  var ref_label = document.getElementById('account-ref');
  var account_ref = ref_label.textContent;
  $('#response-text').focus();
  $('#response-text').on('keydown', function(event){
    if(event.key == 'Enter'){
      socket.emit('submit-response', {
        account: account_ref,
        response: $('#response-text').val()
      }); 
      $('#options-panel').hide();
    }
  });
  $('#submit-response').on('click', function() {
    socket.emit('submit-response', {
      account: account_ref,
      response: $('#response-text').val()
    }); 
    $('#options-panel').hide();
  });
  $('#close-challenge').on('click', function() {
    $('#options-panel').hide();
  });
