p #{confirm_text}
label(id='hidden-ref' hidden) #{ref}
label(id='hidden-type' hidden) #{type}
button(id='confirm-delete') #{delete_text}
button(id='close') #{close_text}
script.
  $('#confirm-delete').on('click', function() {
    var hiddenRef = document.getElementById('hidden-ref');
    var hiddenType = document.getElementById('hidden-type');
    socket.emit('confirmed-delete', {type: hiddenType.textContent, ref: hiddenRef.textContent});
    $('#options-panel').hide();
  });
  $('#close').on('click', function() {
    $('#options-panel').hide();
  });

