label(id='hidden-ref' hidden) #{ref}
label(id='credential-section-label') #{credential_section_label}
br
table(class='credential')
  tbody
    tr
      th
        label(id='challenge-label') #{challenge_label}
      td
        input(id='challenge-input' type='text') 
    tr
      th
        label(id='response-label') #{response_label}
      td
        input(id='response-input' type='text')
    tr
      th
        label(id='confirm-response-label') #{confirm_response_label}
      td
        input(id='confirm-response-input' type='text')
button(id='request-complete') #{request_complete}
button(id='request-another') #{request_another}
button(id='close-credential') #{close}
script.
  var hiddenRef = document.getElementById('hidden-ref');
  $('#request-complete').on('click', function() {
    socket.emit('request-complete', {
      account: hiddenRef.textContent,
      challenge: $('#challenge-input').val(),
      response: $('#response-input').val(),
      confirm: $('#confirm-response-input').val()
    });
    $('#options-panel').hide();
  });

  $('#request-another').on('click', function() {
    socket.emit('request-another', {
      account: hiddenRef.textContent,
      challenge: $('#challenge-input').val(),
      response: $('#response-input').val(),
      confirm: $('#confirm-response-input').val()
    });
  });
  $('#close-credential').on('click', function() {
    $('#options-panel').hide();
  });
