label(id='ref-value' hidden) #{ref}
label(id='event-section-label') #{event_section}
table(id='event-table')
  tr
    th
      label(id='language-label' for='language-input') #{language}
    th
      label(id='language-value' for='language-input') #{language_value}
    td
      input(id='language-input' type='text')
  tr
    th
      label(id='summary-label' for='summary-input') #{summary}
    th
      label(id='summary-value' for='summary-input') #{summary_value}
    td
      input(id='summary-input' type='text')
  tr
    th
      label(id='details-label' for='details-input') #{details}
    th
      label(id='details-value' for='details-input') #{details_value}
    td
      input(id='details-input' type='text')
  tr
    th
      label(id='person-label' for='person-input') #{person}
    th
      label(id='person-value' for='person-input') #{person_value}
    td
      button(id='person-input') #{person_select}
  tr
    th
      label(id='place-label' for='place-input') #{place}
    th
      label(id='place-value' for='place-input') #{place_value}
    td
      button(id='place-input') #{place_select}
  tr
    th
      label(id='viewed-label') #{viewed}
    th
      label(id='viewed-value') #{viewed_value}
  tr
    th
      label(id='modified-label') #{modified}
    th
      label(id='modified-value') #{modified_value}
  tr
    th
      label(id='proposed-label') #{proposed}
    th
      label(id='proposed-value') #{proposed_value}
    td
      input(id='proposed-input' type='datetime-local')
  tr
    th
      label(id='confirmed-label') #{confirmed}
    th
      label(id='confirmed-value') #{confirmed_value}
    td
      input(id='confirmed-input' type='datetime-local')
  tr
    th
      label(id='expected-label') #{expected}
    th
      label(id='expected-value') #{expected_value}
    td
      input(id='expected-input' type='datetime-local')
  tr
    th
      label(id='arrived-label') #{arrived}
    th
      label(id='arrived-value') #{arrived_value}
    td
      input(id='arrived-input' type='datetime-local')
  tr
    th
      label(id='started-label') #{started}
    th
      label(id='started-value') #{started_value}
    td
      input(id='started-input' type='datetime-local')
  tr
    th
      label(id='completed-label') #{completed}
    th
      label(id='completed-value') #{completed_value}
    td
      input(id='completed-input' type='datetime-local')

  tr
    th
      label(id='billed-label') #{billed}
    th
      label(id='billed-value') #{billed_value}
  tr
    th
      label(id='paid-label') #{paid}
    th
      label(id='paid-value') #{paid_value}
  tr
    th
      label(id='reviewed-label') #{reviewed}
    th
      label(id='reviewed-value') #{reviewed_value}
  tr
button(id='event-save') #{save}
button(id='close') #{close}
script.
  $('#person-input').on('click', function() {
    $('#options-panel').hide(); 
    var ref_label = document.getElementById('ref-value');
    var ref_default = ref_label.textContent;
    socket.emit('person-container-select', {
      context: ref_default,
      context_type: 'event',
      field_type: 'person',
      field_name: 'person'
    });    
  });
  $('#place-input').on('click', function() {
    $('#options-panel').hide(); 
    var ref_label = document.getElementById('ref-value');
    var ref_default = ref_label.textContent;
    socket.emit('place-container-select', {
      context: ref_default,
      context_type: 'event',
      field_type: 'place',
      field_name: 'place'
    });
  });  
  $('#event-save').on('click', function() {
    $('#options-panel').hide(); 
    var ref_label = document.getElementById('ref-value');
    var ref_default = ref_label.textContent;
    var language_label = document.getElementById('language-value');
    var language_default = language_label.textContent;
    var language_input = $('#language-input').val();
    var summary_label = document.getElementById('summary-value');
    var summary_default = summary_label.textContent;
    var summary_input = $('#summary-input').val();
    var details_label = document.getElementById('details-value');
    var details_default = details_label.textContent;
    var details_input = $('#details-input').val();
    var proposed_label = document.getElementById('proposed-value');
    var proposed_default = proposed_label.textContent;
    var proposed_input = $('#proposed-input').val();
    var confirmed_label = document.getElementById('confirmed-value');
    var confirmed_default = confirmed_label.textContent;
    var confirmed_input = $('#confirmed-input').val();
    var expected_label = document.getElementById('expected-value');
    var expected_default = expected_label.textContent;
    var expected_input = $('#expected-input').val();
    var arrived_label = document.getElementById('arrived-value');
    var arrived_default = arrived_label.textContent;
    var arrived_input = $('#arrived-input').val();
    var started_label = document.getElementById('started-value');
    var started_default = started_label.textContent;
    var started_input = $('#started-input').val();
    var completed_label = document.getElementById('completed-value');
    var completed_default = completed_label.textContent;
    var completed_input = $('#completed-input').val();
    socket.emit('event-save', {
        ref_default:        ref_default,
        language_default:   language_default,
        language_input:     language_input,
        summary_default:    summary_default,
        summary_input:      summary_input,
        details_default:    details_default,
        details_input:      details_input,
        proposed_default:   proposed_default,
        proposed_input:     proposed_input,
        confirmed_default:   confirmed_default,
        confirmed_input:     confirmed_input,
        expected_default:   expected_default,
        expected_input:     expected_input,
        arrived_default:   arrived_default,
        arrived_input:     arrived_input,
        started_default:   started_default,
        started_input:     started_input,
        completed_default:   completed_default,
        completed_input:     completed_input
     });
  });
  $('#close').on('click', function() {
    $('#options-panel').hide();
  });
