table
  tr
    th
      label(id='summary-label') #{summary_label}
select(id='event-rows' multiple)
  each refid, index in refs
    option(value=refid)
      tr
        th
          label #{summaries[index]}
  else
    option= 'empty'
br
button(id='event-inspect') #{inspect_label}
button(id='event-delete') #{delete_label}
button(id='close') #{close}
script.
  $('#event-inspect').on('click', function() {
    var eventRows = document.getElementById('event-rows');
    $('#options-panel').load('/event/inspect/' + eventRows.value);
    $('#options-panel').show();
  });
  $('#event-delete').on('click', function() {
    var eventRows = document.getElementById('event-rows');
    $('#options-panel').load('/event/delete/' + eventRows.value);
    $('#options-panel').show();
  });
  $('#close').on('click', function() {
    $('#options-panel').hide();
  });
  
