label(id='issue-section-label') #{issue_section}
label(id='ref-value' hidden) #{ref}
table
  tr
    th
      label(id='language-label' for='language-input') #{language}
    th
      label(id='language-value' for='language-input') #{language_value}
    td
      input(id='language-input' type='text')
  tr
    th
      label(id='topic-label' for='topic-input') #{topic}
    th
      label(id='topic-value' for='topic-input') #{topic_value}
    td
      input(id='topic-input' type='text')
  tr
    th
      label(id='description-label' for='description-input') #{description}
    th
      label(id='description-value' for='description-input') #{description_value}
    td
      input(id='description-input' type='text')
  tr
    th
      label(id='status-label' for='status-input') #{status}
    th
      label(id='status-value' for='status-input') #{status_value}
    td
      input(id='status-input' type='text')
  tr
    th
      label(id='notes-label' for='notes-input') #{notes}
    th
      label(id='notes-value' for='notes-input') #{notes_value}
    td
      input(id='notes-input' type='text')
  tr
    th
      label(id='submitter-name-label' for='submitter-name-input') #{submitter_name}
    th
      label(id='submitter-name-value' for='submitter-name-input') #{submitter_name_value}
    td
      input(id='submitter-name-input' type='text')
  tr
    th
      label(id='owner-name-label' for='owner-name-input') #{owner_name}
    th
      label(id='owner-name-value' for='owner-name-input') #{owner_name_value}
    td
      input(id='owner-name-input' type='text')
  tr
button(id='issue-save') #{save}
button(id='close') #{close}
script.
  $('#issue-save').on('click', function() {
    $('#options-panel').hide(); 
    var ref_label = document.getElementById('ref-value');
    var ref_default = ref_label.textContent;
    var language_label = document.getElementById('language-value');
    var language_default = language_label.textContent;
    var language_input = $('#language-input').val();
    var topic_label = document.getElementById('topic-value');
    var topic_default = topic_label.textContent;
    var topic_input = $('#topic-input').val();
    var description_label = document.getElementById('description-value');
    var description_default = description_label.textContent;
    var description_input = $('#description-input').val();
    var status_label = document.getElementById('status-value');
    var status_default = status_label.textContent;
    var status_input = $('#status-input').val();
    var notes_label = document.getElementById('notes-value');
    var notes_default = notes_label.textContent;
    var notes_input = $('#notes-input').val();
    var submitter_name_label = document.getElementById('submitter-name-value');
    var submitter_name_default = submitter_name_label.textContent;
    var submitter_name_input = $('#submitter-name-input').val();
    var owner_name_label = document.getElementById('owner-name-value');
    var owner_name_default = owner_name_label.textContent;
    var owner_name_input = $('#owner-name-input').val();
    socket.emit('issue-save', {
        ref_default:        ref_default,
        language_default:   language_default,
        language_input:     language_input,
        topic_default:      topic_default,
        topic_input:        topic_input,
        description_default: description_default,
        description_input:   description_input,
        status_default:       status_default,
        status_input:         status_input,
        notes_default:       notes_default,
        notes_input:         notes_input,
        submitter_name_default:       submitter_name_default,
        submitter_name_input:         submitter_name_input,
        owner_name_default:       owner_name_default,
        owner_name_input:         owner_name_input
     });
  });
  $('#close').on('click', function() {
    $('#options-panel').hide();
  });
