table
  tr
    th
      label(id='language-label' for='language-input') #{language_label}
    th
      label(id='topic-label' for='topic-input') #{topic_label}
    th
      label(id='description-label' for='description-input') #{description_label}
    th
      label(id='status-label' for='status-input') #{status_label}
select(id='issue-rows' multiple)
  each refid, index in refs
    option(value=refid)
      tr
        th
          label #{languages[index]}
        th
          label #{topics[index]}
        th
          label #{descriptions[index]}
        th
          label #{statuses[index]}
  else
    option= 'empty'
br
button(id='issue-inspect') #{inspect_label}
button(id='issue-delete') #{delete_label}
button(id='close') #{close}
script.
  $('#issue-inspect').on('click', function() {
    var issueRows = document.getElementById('issue-rows');
    $('#options-panel').load('/issue/inspect/' + issueRows.value);
    $('#options-panel').show();
  });
  $('#issue-delete').on('click', function() {
    var issueRows = document.getElementById('issue-rows');
    $('#options-panel').load('/issue/delete/' + issueRows.value);
    $('#options-panel').show();
  });
  $('#close').on('click', function() {
    $('#options-panel').hide();
  });
