label(id='item-section-label') #{item_section}
label(id='ref-value' hidden) #{ref}
table
  tr
    th
      label(id='name-label' for='name-input') #{name}
    th
      label(id='name-value' for='name-input') #{name_value}
    td
      input(id='name-input' type='text')
  tr
    th
      label(id='full-name-label' for='full-name-input') #{full_name}
    th
      label(id='full-name-value' for='full-name-input') #{full_name_value}
    td
      input(id='full-name-input' type='text')
  tr
    th
      label(id='language-label' for='language-input') #{language}
    th
      label(id='language-value' for='language-input') #{language_value}
    td
      input(id='language-input' type='text')
  tr
    th
      label(id='type-label' for='type-input') #{type}
    th
      label(id='type-value' for='type-input') #{type_value}
    td
      input(id='type-input' type='text')
  tr
    th
      label(id='description-label' for='description-input') #{description}
    th
      label(id='description-value' for='description-input') #{description_value}
    td
      input(id='description-input' type='text')
button(id='item-save') #{save}
button(id='close') #{close}
script.
  $('#item-save').on('click', function() {
    $('#options-panel').hide(); 
    var ref_label = document.getElementById('ref-value');
    var ref_default = ref_label.textContent;
    var name_label = document.getElementById('name-value');
    var name_default = name_label.textContent;
    var name_input = $('#name-input').val();
    var full_name_label = document.getElementById('full-name-value');
    var full_name_default = full_name_label.textContent;
    var full_name_input = $('#full-name-input').val();
    var language_label = document.getElementById('language-value');
    var language_default = language_label.textContent;
    var language_input = $('#language-input').val();
    var type_label = document.getElementById('type-value');
    var type_default = type_label.textContent;
    var type_input = $('#type-input').val();
    var description_label = document.getElementById('description-value');
    var description_default = description_label.textContent;
    var description_input = $('#description-input').val();
    socket.emit('item-save', {
        ref_default:        ref_default,
        name_default:       name_default,
        name_input:         name_input,
        full_name_default:  full_name_default,
        full_name_input:    full_name_input,
        language_default:   language_default,
        language_input:     language_input,
        type_default:       type_default,
        type_input:         type_input,
        description_default: description_default,
        description_input:   description_input
     });
  });
  $('#close').on('click', function() {
    $('#options-panel').hide();
  });
