table
  tr
    th
      label(id='name-label' for='name-input') #{name_label}
    th
      label(id='full-name-label' for='full-name-input') #{full_name_label}
    th
      label(id='language-label' for='language-input') #{language_label}
    th
      label(id='type-label' for='type-input') #{type_label}
select(id='item-rows' multiple)
  each refid, index in refs
    option(value=refid)
      tr
        th
          label #{names[index]}
        th
          label #{full_names[index]}
        th
          label #{languages[index]}
        th
          label #{types[index]}
  else
    option= 'empty'
br
button(id='item-inspect') #{inspect_label}
button(id='item-delete') #{delete_label}
button(id='close') #{close}
script.
  $('#item-inspect').on('click', function() {
    var itemRows = document.getElementById('item-rows');
    $('#options-panel').load('/item/inspect/' + itemRows.value);
    $('#options-panel').show();
  });
  $('#item-delete').on('click', function() {
    var itemRows = document.getElementById('item-rows');
    $('#options-panel').load('/item/delete/' + itemRows.value);
    $('#options-panel').show();
  });
  $('#close').on('click', function() {
    $('#options-panel').hide();
  });
