label(id='language-options') #{language_options_text}
each lang, code in language_options
  button(id=code) #{lang}
  script.
    $('##{code}').on("click", function() {
      socket.emit('language-select', '#{code}');
    });
button(id="close-languages") #{close}
script.
  $('#close-languages').on("click", function() {
    $('#options-panel').hide();
  });
