doctype html
html
  head
    block title
    link(rel='stylesheet' type='text/css' href='manager.css')
  body
    block body
    block account
    block person
    block place
    block item
    block process
    block scripting
    br
    div(id='footer')
        a(id='about' href='https://www.twicecheckedgroup.com/about') #{about_text}
        a(id='contact' href='https://www.twicecheckedgroup.com/contact') #{contact_text}
