label(id='ref-value' hidden) #{selection_ref}
table
  tr
    th
      label(id='name-label' for='name-input') #{name_label}
    th
      label(id='full-name-label' for='full-name-input') #{full_name_label}
select(id='person-rows' multiple)
  each refid, index in refs
    option(value=refid)
      tr
        th
          label #{names[index]}
        th
          label #{full_names[index]}
  else
    option= 'empty'
br
button(id='person-select') #{select_label}
button(id='close') #{close}
script.
  $('#person-select').on('click', function() {
    var ref_label = document.getElementById('ref-value');
    var ref_value = ref_label.textContent;
    var personRows = document.getElementById('person-rows');
    socket.emit('person-selected', {
      selection: ref_value,
      selected: personRows.value
    });
  });
  $('#close').on('click', function() {
    $('#options-panel').hide();
  });
