table
  tr
    th
      label(id='name-label' for='name-input') #{name_label}
    th
      label(id='full-name-label' for='full-name-input') #{full_name_label}
select(id='person-rows' multiple)
  each refid, index in refs
    option(value=refid)
      tr
        th
          label #{names[index]}
        th
          label #{full_names[index]}
  else
    option= 'empty'
br
button(id='person-inspect') #{inspect_label}
button(id='person-delete') #{delete_label}
button(id='close') #{close}
script.
  $('#person-inspect').on('click', function() {
    var personRows = document.getElementById('person-rows');
    $('#options-panel').load('/person/inspect/' + personRows.value);
    $('#options-panel').show();
  });
  $('#person-delete').on('click', function() {
    var personRows = document.getElementById('person-rows');
    $('#options-panel').load('/person/delete/' + personRows.value);
    $('#options-panel').show();
  });
  $('#close').on('click', function() {
    $('#options-panel').hide();
  });
