label(id='ref-value' hidden) #{ref}
label(id='person-section-label') #{person_section}
table(id='person-table')
  tr
    th
      label(id='language-label' for='language-input') #{language}
    th
      label(id='language-value' for='language-input') #{language_value}
    td
      input(id='language-input' type='text')
  tr
    th
      label(id='name-label' for='name-input') #{name}
    th
      label(id='name-value' for='name-input') #{name_value}
    td
      input(id='name-input' type='text')
  tr
    th
      label(id='full-name-label' for='full-name-input') #{full_name}
    th
      label(id='full-name-value' for='full-name-input') #{full_name_value}
    td
      input(id='full-name-input' type='text')
  tr
    th
      label(id='profile-label' for='profile-input') #{profile}
    th
      label(id='profile-value' for='profile-input') #{profile_value}
    td
      input(id='profile-input' type='text')
  tr
    th
      label(id='preferences-label' for='preferences-input') #{preferences}
    th
      label(id='preferences-value' for='preferences-input') #{preferences_value}
    td
      input(id='preferences-input' type='text')
  tr
    th
      label(id='provides-label' for='profile-input') #{provides}
    th
      label(id='provides-value' for='profile-input') #{provides_value}
    td
      input(id='provides-input' type='text')
  tr
    th
      label(id='container-label' for='container-input') #{container}
    th
      label(id='container-value' for='container-input') #{container_value}
    td
      button(id='container-input') #{select_label}
button(id='person-save') #{save}
button(id='close') #{close}
script.
  $('#person-save').on('click', function() {
    $('#options-panel').hide(); 
    var ref_label = document.getElementById('ref-value');
    var ref_value = ref_label.textContent;
    var language_label = document.getElementById('language-value');
    var language_value = language_label.textContent;
    var language_input = $('#language-input').val();
    var name_label = document.getElementById('name-value');
    var name_value = name_label.textContent;
    var name_input = $('#name-input').val();
    var full_name_label = document.getElementById('full-name-value');
    var full_name_value = full_name_label.textContent;
    var full_name_input = $('#full-name-input').val();
    var profile_label = document.getElementById('profile-value');
    var profile_value = profile_label.textContent;
    var profile_input = $('#profile-input').val();
    var preferences_label = document.getElementById('preferences-value');
    var preferences_value = preferences_label.textContent;
    var preferences_input = $('#preferences-input').val();
    var provides_label = document.getElementById('provides-value');
    var provides_value = provides_label.textContent;
    var provides_input = $('#provides-input').val();
    socket.emit('person-save', {
        ref_value:        ref_value,
        language_value:   language_value,
        language_input:     language_input,
        name_value:       name_value,
        name_input:         name_input,
        full_name_value:  full_name_value,
        full_name_input:    full_name_input,
        profile_value:    profile_value,
        profile_input:      profile_input,
        preferences_value: preferences_value,
        preferences_input:   preferences_input,
        provides_value:   provides_value,
        provides_input:     provides_input
     });
  });
  $('#container-input').on('click', function() {
    var ref_label = document.getElementById('ref-value');
    var ref_default = ref_label.textContent;
    socket.emit('person-container-select', {
      context: ref_default,
      context_type: 'person',
      field_type: 'person',
      field_name: 'container'
    });
  });
  $('#close').on('click', function() {
    $('#options-panel').hide();
  });
