table
  tr
    th
      label(id='name-label' for='name-input') #{name_label}
    th
      label(id='full-name-label' for='full-name-input') #{full_name_label}
    th
      label(id='language-label' for='language-input') #{language_label}
    th
      label(id='status-label' for='status-input') #{type_label}
select(id='place-rows' multiple)
  each refid, index in refs
    option(value=refid)
      tr
        th
          label #{names[index]}
        th
          label #{full_names[index]}
        th
          label #{languages[index]}
        th
          label #{types[index]}
  else
    option= 'empty'
br
button(id='place-inspect') #{inspect_label}
button(id='place-delete') #{delete_label}
button(id='close') #{close}
script.
  $('#place-inspect').on('click', function() {
    var placeRows = document.getElementById('place-rows');
    $('#options-panel').load('/place/inspect/' + placeRows.value);
    $('#options-panel').show();
  });
  $('#place-delete').on('click', function() {
    var placeRows = document.getElementById('place-rows');
    $('#options-panel').load('/place/delete/' + placeRows.value);
    $('#options-panel').show();
  });
  $('#close').on('click', function() {
    $('#options-panel').hide();
  });
