label(id='ref-value' hidden) #{selection_ref}
table
  tr
    th
      label(id='name-label' for='name-input') #{name_label}
    th
      label(id='full-name-label' for='full-name-input') #{full_name_label}
    th
      label(id='language-label' for='language-input') #{language_label}
    th
      label(id='status-label' for='status-input') #{type_label}
select(id='place-rows' multiple)
  each refid, index in refs
    option(value=refid)
      tr
        th
          label #{names[index]}
        th
          label #{full_names[index]}
        th
          label #{languages[index]}
        th
          label #{types[index]}
  else
    option= 'empty'
br
button(id='place-select') #{select_label}
button(id='close') #{close}
script.
  $('#place-select').on('click', function() {
    var ref_label = document.getElementById('ref-value');
    var ref_value = ref_label.textContent;
    var placeRows = document.getElementById('place-rows');
    socket.emit('place-selected', {
      selection: ref_value,
      selected: placeRows.value
    });
  });
  $('#close').on('click', function() {
    $('#options-panel').hide();
  });
