label(id='ref-value' hidden) #{ref}
label(id='place-section-label') #{place_section}
table
  tr
    th
      label(id='language-label' for='language-input') #{language}
    th
      label(id='language-value' for='language-input') #{language_value}
    td
      input(id='language-input' type='text')
  tr
    th
      label(id='name-label' for='name-input') #{name}
    th
      label(id='name-value' for='name-input') #{name_value}
    td
      input(id='name-input' type='text')
  tr
    th
      label(id='full-name-label' for='full-name-input') #{full_name}
    th
      label(id='full-name-value' for='full-name-input') #{full_name_value}
    td
      input(id='full-name-input' type='text')
  tr
    th
      label(id='type-label' for='type-input') #{type}
    th
      label(id='type-value' for='type-input') #{type_value}
    td
      input(id='type-input' type='text')
  tr
    th
      label(id='description-label' for='description-input') #{description}
    th
      label(id='description-value' for='description-input') #{description_value}
    td
      input(id='description-input' type='text')
  tr
    th
      label(id='container-label' for='container-input') #{container}
    th
      label(id='container-value' for='container-input') #{container_value}
    td
      button(id='container-input') #{select}
b
button(id='place-save') #{save}
button(id='close') #{close}
script.
  $('#place-save').on('click', function() {
    $('#options-panel').hide(); 
    var ref_label = document.getElementById('ref-value');
    var ref_default = ref_label.textContent;
    var name_label = document.getElementById('name-value');
    var name_default = name_label.textContent;
    var name_input = $('#name-input').val();
    var full_name_label = document.getElementById('full-name-value');
    var full_name_default = full_name_label.textContent;
    var full_name_input = $('#full-name-input').val();
    var language_label = document.getElementById('language-value');
    var language_default = language_label.textContent;
    var language_input = $('#language-input').val();
    var type_label = document.getElementById('type-value');
    var type_default = type_label.textContent;
    var type_input = $('#type-input').val();
    var description_label = document.getElementById('description-value');
    var description_default = description_label.textContent;
    var description_input = $('#description-input').val();
    var container_label = document.getElementById('container-value');
    var container_default = container_label.textContent;
    socket.emit('place-save', {
        ref:        ref_default,
        name_value:       name_default,
        name_input:         name_input,
        full_name_value:  full_name_default,
        full_name_input:    full_name_input,
        language_value:   language_default,
        language_input:     language_input,
        type_value:       type_default,
        type_input:         type_input,
        description_value: description_default,
        description_input:   description_input,
        container_value: container_default
     });
  });
  $('#container-input').on('click', function() {
    var ref_label = document.getElementById('ref-value');
    var ref_default = ref_label.textContent;
    socket.emit('place-container-select', {
      context: ref_default,
      context_type: 'place',
      field_type: 'place',
      field_name: 'container'
    });
  });
  $('#close').on('click', function() {
    $('#options-panel').hide();
  });
