label(for='service-section') #{service_section}
br
label(id='brief-label') #{brief}
input(id='brief-input' type='text')
br
label(id='summary-label') #{summary}
input(id='summary-input' type='text')
br
label(id='client-label') #{client}
input(id='client-input' type='text')
br
label(id='provider-label') #{provider}
input(id='provider-input' type='text')
br
label(id='start-label') #{start}
input(id='start-input' type='text')
br
label(id='duration-label') #{duration}
input(id='duration-input' type='text')
br
label(id='fee-label') #{fee}
input(id='fee-input' type='text')
br
button(id='save-event') #{save}
button(id='close-event') #{close}
script.
  $('#save-event').on('click', function() {
    socket.emit('save-event', {
      brief: $('#brief-input').val(),
      summary: $('#summary-input').val(),
      client_name: $('#client-input').val(),
      provider_name: $('#provider-input').val(),
      start: $('#start-input').val(),
      duration: $('#duration-input').val(),
      fee: $('#fee-input').val()
    });
    $('#options-panel').hide();
  });
  $('#close-event').on('click', function() {
    $('#options-panel').hide();
  });
