table
  tr
    th
      label(id='language-label' for='language-input') #{language_label}
    th
      label(id='summary-label' for='summary-input') #{summary_label}
    th
      label(id='details-label' for='details-input') #{details_label}
    th
      label(id='status-label' for='status-input') #{status_label}
select(id='request-rows' multiple)
  each refid, index in refs
    option(value=refid)
      tr
        th
          label #{languages[index]}
        th
          label #{summaries[index]}
        th
          label #{details[index]}
        th
          label #{statuses[index]}
  else
    option= 'empty'
br
button(id='request-inspect') #{inspect_label}
button(id='request-delete') #{delete_label}
button(id='close') #{close}
script.
  $('#request-inspect').on('click', function() {
    var requestRows = document.getElementById('request-rows');
    $('#options-panel').load('/request/inspect/' + requestRows.value);
    $('#options-panel').show();
  });
  $('#request-delete').on('click', function() {
    var requestRows = document.getElementById('request-rows');
    $('#options-panel').load('/request/delete/' + requestRows.value);
    $('#options-panel').show();
  });
  $('#close').on('click', function() {
    $('#options-panel').hide();
  });
