label(id='request-section-label') #{request_section}
label(id='ref-value' hidden) #{ref}
table
  tr
    th
      label(id='language-label' for='language-input') #{language}
    th
      label(id='language-value' for='language-input') #{language_value}
    td
      input(id='language-input' type='text')
  tr
    th
      label(id='summary-label' for='summary-input') #{summary}
    th
      label(id='summary-value' for='summary-input') #{summary_value}
    td
      input(id='summary-input' type='text')
  tr
    th
      label(id='details-label' for='details-input') #{details}
    th
      label(id='details-value' for='details-input') #{details_value}
    td
      input(id='details-input' type='text')
  tr
    th
      label(id='status-label' for='status-input') #{status}
    th
      label(id='status-value' for='status-input') #{status_value}
    td
      input(id='status-input' type='text') tr
    th
      label(id='submitter-label' for='submitter-input') #{submitter}
    th
      label(id='submitter-value' for='submitter-input') #{submitter_value}
    td
      input(id='submitter-input' type='text')
  tr
    th
      label(id='provider-label' for='provider-input') #{provider}
    th
      label(id='provider-value' for='provider-input') #{provider_value}
    td
      input(id='provider-input' type='text')
  tr
button(id='request-save') #{save}
button(id='close') #{close}
script.
  $('#request-save').on('click', function() {
    $('#options-panel').hide(); 
    var ref_label = document.getElementById('ref-value');
    var ref_default = ref_label.textContent;
    var language_label = document.getElementById('language-value');
    var language_default = language_label.textContent;
    var language_input = $('#language-input').val();
    var summary_label = document.getElementById('summary-value');
    var summary_default = summary_label.textContent;
    var summary_input = $('#summary-input').val();
    var details_label = document.getElementById('details-value');
    var details_default = details_label.textContent;
    var details_input = $('#details-input').val();
    var status_label = document.getElementById('status-value');
    var status_default = status_label.textContent;
    var status_input = $('#status-input').val();
    var submitter_label = document.getElementById('submitter-value');
    var submitter_default = submitter_label.textContent;
    var submitter_input = $('#submitter-input').val();
    var owner_label = document.getElementById('owner-value');
    var owner_default = owner_label.textContent;
    var owner_input = $('#owner-input').val();
    socket.emit('request-save', {
        ref_default:        ref_default,
        language_default:   language_default,
        language_input:     language_input,
        summary_default:      summary_default,
        summary_input:        summary_input,
        details_default: details_default,
        details_input:   details_input,
        status_default:       status_default,
        status_input:         status_input,
        submitter_default:       submitter_default,
        submitter_input:         submitter_input,
        owner_default:       owner_default,
        owner_input:         owner_input
     });
  });
  $('#close').on('click', function() {
    $('#options-panel').hide();
  });
