table(class='sign')
  caption #{sign_section_label}
  tbody
    tr
      th
        label(id='account-name-label' for='account-name-input') #{account_name_label}
      td
        input(id='account-name-input' type='text')
    tr
      th
        label(id='account-contact-label') #{account_contact_label}
      td
        input(id='account-contact-input' type='text')
    tr
      th
        label(id='account-address-label') #{account_address_label}
      td
        input(id='account-address-input' type='text')
    tr
      th
        label(id='account-pronoun-label') #{account_pronoun_label}
      td
        input(id='account-pronoun-input' type='text')
br
button(id='sign-in') #{sign_account}
button(id='close-sign') #{close}
script.
  $('#sign-in').on('click', function() {
    socket.emit('request-challenge', {
      name: $('#account-name-input').val(),
      contact: $('#account-contact-input').val(),
      address: $('#account-address-input').val(),
      pronoun: $('#account-pronoun-input').val()
    });
    $('#options-panel').hide();
  });
  $('#close-sign').on('click', function() {
    $('#options-panel').hide();
  });

