extends layout

block title
    title #{title_text}

block body
    h1 #{title_text}
    button(id='language-select') #{language_select_text}
    div(id='status-message')
    div(id='options-panel')
    label(id='account-section-label') #{account_section_text}
    button(id='account-inspect') #{inspect}
    button(id='account-sign-out') #{account_sign_out_text}
    button(id='account-explain') #{account_explain_text}
    table
      tr
        th
          label(id='person-section-label') #{person_section}
        td
          button(id='person-select') #{select}
        td
          button(id='person-create') #{create}
        td
          button(id='person-explain') #{person_explain_text}
      tr
        th
          label(id='place-section-label') #{place_section}
        td
          button(id='place-select') #{select}
        td
          button(id='place-create') #{create}
        td
          button(id='place-explain') #{place_explain_text}
      tr
        th
          label(id='event-section-label') #{event_section}
        td
          button(id='event-select') #{select}
        td
          button(id='event-create') #{create}
        td
          button(id='event-explain') #{event_explain_text}

block scripting
    script(type='text/javascript' src='socket.io.min.js')
    script(type='text/javascript' src='jquery-3.2.0.min.js')
    script.
     var socket = io();
      socket.on('redisplay', function() {
        window.location = ('/');
      });
      socket.on('inspect-redisplay', function(message) {
        $('#options-panel').load('/account/inspect/' + message);
        $('#options-panel').show();
      });
      $('#language-select').on('click', function() {
        $('#options-panel').load('/languages');
        $('#options-panel').show();
      });
      socket.on('message', function(message) {
        $('#status-message').load('/message/' + message);
        $('#status-message').show();
      });
      $('#account-inspect').on('click', function() {
        $('#options-panel').load('/account/inspect');
        $('#options-panel').show();
      });
      $('#account-personas').on('click', function() {
        $('#options-panel').load('/account/personas');
        $('#options-panel').show();
      });
      $('#account-sign-out').on('click', function() {
        socket.emit('sign-out');
      });
      $('#account-explain').on('click', function() {
        $('#options-panel').load('/explain/account');
        $('#options-panel').show();
      });
      $('#person-create').on('click', function() {
        $('#options-panel').load('/person/create');
        $('#options-panel').show();
      });
      $('#person-select').on('click', function() {
        $('#options-panel').load('/person/select');
        $('#options-panel').show();
      });
      socket.on('person-select', function(message) {
        $('#options-panel').load('/person/select/' + message);
        $('#options-panel').show();
      });
      socket.on('person-inspect', function(message) {
        $('#options-panel').load('/person/inspect/' + message);
        $('#options-panel').show();
      });
      $('#person-explain').on('click', function() {
        $('#options-panel').load('/explain/person');
        $('#options-panel').show();
      });
      $('#place-create').on('click', function() {
        $('#options-panel').load('/place/create');
        $('#options-panel').show();
        });
      $('#place-select').on('click', function() {
        $('#options-panel').load('/place/select');
        $('#options-panel').show();
      });
      socket.on('place-inspect', function(message) {
        $('#options-panel').load('/place/inspect/' + message);
        $('#options-panel').show();
      });
      socket.on('place-select', function(message) {
        $('#options-panel').load('/place/select/' + message);
        $('#options-panel').show();
      });
      socket.on('event-inspect', function(message) {
        $('#options-panel').load('/event/inspect/' + message);
        $('#options-panel').show();
      });
      $('#place-explain').on('click', function() {
        $('#options-panel').load('/explain/place');
        $('#options-panel').show();
      });
      $('#event-create').on('click', function() {
        $('#options-panel').load('/event/create');
        $('#options-panel').show();
      });
      $('#event-select').on('click', function() {
        $('#options-panel').load('/event/select');
        $('#options-panel').show();
      });
      $('#event-explain').on('click', function() {
        $('#options-panel').load('/explain/event');
        $('#options-panel').show();
      });
 
