extends layout

block title
    title #{title_text}

block body
    h1 #{title_text}
    button(id='language-select') #{language_select_text}
    div(id='status-message')
    div(id='options-panel')
    table
      tr
        th
          label(id='account-section-label') #{account_section_text}
        td
          button(id='account-sign-in') #{account_sign_in_text}
        td
          button(id='account-request-panel') #{account_request_text}
        td
          button(id='account-explain') #{account_explain_text}

block scripting
    script(type='text/javascript' src='socket.io.min.js')
    script(type='text/javascript' src='jquery-3.2.0.min.js')
    script.
      var socket = io();
      socket.on('redisplay', function() {
        window.location = ('/');
      });
      socket.on('request-redisplay', function(message) {
        $('#options-panel').load('/account/request/' + message);
        $('#options-panel').show();
      });
      socket.on('credential-redisplay', function(message) {
        $('#options-panel').load('/account/credential/' + message);
        $('#options-panel').show();
      });
      $('#language-select').on('click', function() {
        $('#options-panel').load('/languages');
        $('#options-panel').show();
      });
      socket.on('message', function(message) {
        $('#status-message').load('/message/' + message);
        $('#status-message').show();
      });
      $('#account-sign-in').on('click', function() {
        $('#status-message').hide();
        $('#options-panel').load('/account/sign');
        $('#options-panel').show();
      });
      socket.on('challenge', function() {
        $('#options-panel').load('/account/challenge');
        $('#options-panel').show();
      });
      $('#account-request-panel').on('click', function() {
        $('#options-panel').load('/account/request');
        $('#options-panel').show();
      });
      $('#account-explain').on('click', function() {
        $('#options-panel').load('/explain/account');
        $('#options-panel').show();
      });
