label#account-section-label {
    font-weight: bold;
}

label#sign-section-label {
    background-color: #dcdcdc;
}

.account table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    background-color: #959595;
}

.account caption {
    background-color: #998877;
    font-weight: bold;
}

.account th {
    width: 12%;
}

.account td {
    width: 12%;
}

.account tbody tr:nth-child(odd) {
    background-color: #eaeaea;
}

.account tbody tr:nth-child(even) {
    background-color: #bababa;
}

.account th, td {
    padding: 2px;
    text-align: left;
}

.credential th, td {
    text-align: left;
}

.credential tbody {
    background-color: #446688;
}

.credential tbody tr:nth-child(odd) {
    background-color: #eaeaea;
}

.credential tbody tr:nth-child(even) {
    background-color: #bababa;
}
